{% extends "base_generic.html" %}

{% block content %}
    <h1>Questions</h1>

    <form action="{% url 'ask_question' %}" method="GET">
        {% csrf_token %}
        <button type="submit">Ask a Question</button>
    </form>

    {% if question_list %}
    <table class="answers_table">
        <tbody>
            {% for question in question_list %}
                <tr>
                    <td class='question_title'>
                        <a href="{{ question.get_absolute_url }}">
                            {{ question.title }}
                        </a>
                    </td>
                    
                    <td class="question_up_votes">
                        <p>{{question.up_votes_count}}</p>
                        <p>Up-votes</p>
                    </td>

                    <td class="question_down_votes">
                        <p>{{question.down_votes_count}}</p>
                        <p>Down-votes</p>
                    </td>

                    <td class="question_answers_count">
                        <p>{{question.answer_set.count}}</p>
                        <p>Answers</p>
                    </td>

                    <td class="question_list_author">
                        {{question.author.username}}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>There are not questions</p>
    {% endif %}
{% endblock %}
